.sobre_interna {
  background: url("../img/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}
.quote_cliente {
  padding: 60px 0;
  max-width: 500px;
  margin: 0px auto;
}
.quote_cliente p {
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  margin-bottom: 20px;
}
.quote_cliente cite {
  font-size: 18px;
  font-weight: bold;
  float: right;
  font-style: normal;
  text-align: right;
}
